# OS
.DS_Store
Thumbs.db

# Env & secrets
.env
*.env
.env.*
*.key
*.pem

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
.venv/
.envrc

# Editors
.vscode/*.db
.vscode/extensions.json
.idea/

# Containers
.devcontainer/volumes/
docker-data/

